.idea/
kafka_trident/.gradle
kafka_trident/gradle
kafka_trident/target
kafka_trident/trident.iml
kafka_trident/**.jar
kafka_trident/out
kafka_trident/build
kafka_trident/purchases_trident_kafka.jar
spark_streaming/target
spark_streaming/.idea
spark_streaming/project/target
spark_streaming/project/project/target
